
a {
  text-decoration: none !important;
}

body {
  font-family: 'Arial', sans-serif;
}
/* .swiper-pagination {
  top: 20px !important;
} */

/* .swiper-pagination {
  bottom: calc(100% - 20rem);
} */



/* .swiper-pagination-bullet {
  z-index: 1000 !important;
  margin-top: 120px !important;
  background-color: #000 !important;
} */


/* .swiper-pagination-bullet-active {
  background-color: #000 !important;
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
}



span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: blue !;
  opacity: 1;
}

.swiper-pagination-bullet {
  margin-top:"200px" !important;
  background-color: red !important;
  opacity: 1;
} */
